@model EKStore.Models.Category


<div class="row">
    <div class="col-md-4">
        <img src="~/favicon.ico" class="w-100"/>
    </div>
    <div class="col-md-8 ps-5">
        <h3>@Model.Name</h3>
        <hr />
        <p>
            @Model.Description
        </p>
        <button class="disabled btn btn-@(Model.IsStatus?"success":"danger")">
            @(Model.IsStatus ? "Active" : "Passive")
        </button>
    </div>
</div>
